<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--todo https://stackoverflow.com/questions/3257154/how-to-prevent-logback-from-outputting-its-own-status-at-the-start-of-every-log-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <!--<logger name="org.postgresql" level="trace"/>-->
    <!--<logger name="org.hibernate.SQL" level="TRACE"/>-->
    <!--<logger name="org.hibernate.type" level="TRACE"/>-->
    <!--<logger name="org.hibernate" level="INFO"/>-->

    <root>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
